.policies {
  padding: 0 350px;
  text-align: justify;
  letter-spacing: 1px;
  color: white;

  .section {
    margin: 40px 0 70px 0;
    padding: 40px 50px;
    border: 1px solid rgba($color: white, $alpha: 0.3);

    a {
      color: rgba($color: white, $alpha: 0.8);

      &:hover {
        color: white;
      }
    }

    .heading {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 35px;
    }

    .subHeading {
      font-size: 13px;
      font-weight: 500;
      margin-bottom: 25px;
    }

    .points {
      font-size: 13px;
      margin-bottom: 30px;

      li {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}
