.policies {
  padding: 0 350px;
  text-align: justify;
  letter-spacing: 1px;

  strong {
    color: #777777;
  }

  .section {
    margin: 40px 0 70px 0;
    padding: 40px 50px;
    border: 1px solid #dddddd;

    a {
      color: #1c1b1b;
    }

    .heading {
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 35px;
    }

    .subHeading {
      font-size: 12px;
      font-weight: 500;
      margin-bottom: 25px;
    }

    .points {
      font-size: 12px;
      margin-bottom: 30px;

      li {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}
