.login,
.register {
  .form {
    margin: 0;
    position: absolute;
    width: 25%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    .alertBox {
      text-align: left;
      padding: 10px 20px;
      margin: 20px 0;
      border: 1px solid transparent;
      width: 100%;
      color: #cb2b2b;
      background-color: #e4c4c4;
    }

    .heading {
      font-size: 20px;
      letter-spacing: 0.2em;
      font-weight: 600;
      color: white;
    }

    .legend {
      margin-top: 24px;
      color: white;
      letter-spacing: 1px;
    }

    .inputField {
      display: block;
      padding: 12px 14px;
      width: 100%;
      border: 1px solid rgba($color: white, $alpha: 0.4);
      margin-top: 20px;
      transition: border-color 0.1s ease-in-out;
      border-radius: 0px;
      font-family: "Montserrat";
      letter-spacing: 1px;
      background-color: #1e1f23;
      color: white;

      &::placeholder {
        font-size: 12px;
        letter-spacing: 1px;
        color: rgba($color: white, $alpha: 0.7);
      }
    }

    .forgotPass {
      margin-top: 10px;
      text-align: right;
      font-size: 12px;
      letter-spacing: 1px;

      a {
        text-decoration: none;
        color: white;

        &:hover {
          color: rgba($color: white, $alpha: 0.6);
        }
      }
    }

    .submit {
      color: #241414;
      font-size: 12px;
      width: 100%;
      margin-top: 20px;
      padding: 13px 26px;
      border: 1px solid transparent;
      border-color: #e5b14a;
      background: linear-gradient(to right, #e5b14a 50%, #1e1f23 50%);
      background-size: 200%;
      background-position: 0 50%;
      letter-spacing: 0.2em;
      font-weight: 600;
      transition: background-position 0.6s ease;
      font-family: "Montserrat";

      &:hover {
        background-position: -100% 50%;
        color: #e5b14a;
        cursor: pointer;
      }
    }

    .hint {
      margin-top: 24px;
      color: white;
      line-height: 1.65;
      letter-spacing: 1px;

      a {
        text-decoration: none;
        color: rgba($color: white, $alpha: 0.6);
        font-weight: 500;

        &:hover {
          color: white;
        }
      }
    }
  }

  .footer {
    margin-top: 100vh;
  }
}
