.profile {
  .myProfile {
    margin-top: 50px;
    padding: 0 50px;
    letter-spacing: 0.2em;
    text-align: center;

    .container {
      display: flex;

      .heading {
        font-size: 14px;
        margin-bottom: 30px;
      }

      .inputField {
        margin: 0 auto;
        display: block;
        padding: 12px 5px;
        width: 40%;
        border: none;
        border-bottom: 1px solid rgba($color: white, $alpha: 0.4);
        margin-top: 20px;
        transition: border-color 0.1s ease-in-out;
        border-radius: 0px;
        font-family: "Montserrat";
        letter-spacing: 1px;
        background-color: #1e1f23;
        color: white;

        &::placeholder {
          font-size: 12px;
          letter-spacing: 1px;
          color: rgba($color: white, $alpha: 0.7);
        }

        &:focus {
          outline: none;
          border-bottom: 1px solid rgba($color: white, $alpha: 1);
        }

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }

      .left {
        width: 50%;
      }

      .right {
        width: 50%;

        .addressField {
          display: block;
          padding: 12px 14px;
          width: 50%;
          border: 1px solid #dddddd;
          transition: border-color 0.1s ease-in-out;
          border-radius: 0px;
          font-family: "Montserrat";
          letter-spacing: 1px;
          background-color: #1e1f23;
          color: white;
          resize: none;

          &::placeholder {
            font-size: 12px;
            letter-spacing: 1px;
            color: rgba($color: white, $alpha: 0.7);
          }
        }
      }
    }

    .updateBtn {
      width: 40%;
      color: white;
      font-size: 11px;
      margin-top: 40px;
      padding: 13px 26px;
      border: 1px solid transparent;
      border-color: white;
      background: linear-gradient(
        to right,
        (rgba($color: white, $alpha: 0.2)) 50%,
        transparent 50%
      );
      background-size: 200%;
      background-position: 0 50%;
      letter-spacing: 0.2em;
      font-weight: 600;
      transition: background-position 0.6s ease;
      font-family: "Montserrat";

      &:hover {
        background-position: -100% 50%;
        cursor: pointer;
      }
    }

    .logoutBtn {
      width: 40%;
      color: #241414;
      font-size: 12px;
      margin-top: 20px;
      padding: 13px 26px;
      border: 1px solid transparent;
      border-color: #e5b14a;
      background: linear-gradient(to right, #e5b14a 50%, #1e1f23 50%);
      background-size: 200%;
      background-position: 0 50%;
      letter-spacing: 0.2em;
      font-weight: 600;
      transition: background-position 0.6s ease;
      font-family: "Montserrat";

      &:hover {
        background-position: -100% 50%;
        color: #e5b14a;
        cursor: pointer;
      }
    }
  }
}
