.error {
  .waypoint {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.65;
    text-align: center;

    .top {
      font-size: 13px;
      letter-spacing: 0.2em;
      margin-bottom: 10px;
      color: #1c1b1b;
    }

    .middle {
      color: #6a6a6a;
    }

    .bottom {
      color: #241414;
      font-size: 12px;
      width: 100%;
      margin-top: 20px;
      padding: 14px 28px;
      border: 1px solid transparent;
      border-color: #e5b14a;
      background: linear-gradient(to right, #e5b14a 50%, white 50%);
      background-size: 200%;
      background-position: 0 50%;
      letter-spacing: 0.2em;
      font-weight: 500;
      transition: background-position 0.6s ease;

      &:hover {
        background-position: -100% 50%;
        color: #e5b14a;
        cursor: pointer;
      }
    }
  }
  .footer {
    margin-top: 100vh;
  }
}
