.footer {
  letter-spacing: 1px;
  margin-top: 200px;
  width: 100%;
  padding: 75px 50px 120px 100px;
  border-top: 1px solid #dddddd;

  .top {
    display: flex;
    gap: 400px;

    .item {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 15px;
      font-size: 11px;
      text-align: justify;

      h1 {
        font-size: 13px;
        font-weight: 600;
        color: black;
        margin-bottom: 10px;
      }

      a {
        text-decoration: none;
        color: black;
        font-weight: 500;

        &:hover {
          color: #6a6a6a;
        }
      }

      span {
        color: black;

        .innerSpan {
          font-weight: 600;
        }
      }

      .inputField {
        margin-top: 10px;
        padding: 13px 14px;
        border: 1px solid #dddddd;
        transition: border-color 0.1s ease-in-out;
        width: 100%;

        &::placeholder {
          color: rgba(0, 0, 0, 0.5);
        }
      }
      .sub {
        color: #241414;
        font-size: 12px;
        width: 100%;
        margin-top: 10px;
        padding: 14px 28px;
        border: 1px solid transparent;
        border-color: #e5b14a;
        background: linear-gradient(to right, #e5b14a 50%, white 50%);
        background-size: 200%;
        background-position: 0 50%;
        letter-spacing: 0.2em;
        font-weight: 500;
        transition: background-position 0.6s ease;

        &:hover {
          background-position: -100% 50%;
          color: #e5b14a;
          cursor: pointer;
        }
      }
    }
  }
}
