.productCard {
  display: inline-block;
  width: 30%;
  margin-right: 2%;

  .image {
    width: 100px;
    height: 100px;
  }

  .name {
    margin: 0;
    font-size: 1.2rem;
  }

  .price {
    margin: 0;
    font-weight: bold;
  }
}
