.productCard {
  display: inline-block;
  margin-right: 20px;

  img {
    height: 340px;
    width: 340px;
  }
}

.name {
  margin: 0;
  font-size: 1.2rem;
}

.price {
  margin: 0;
  font-weight: bold;
}
