@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  body {
    font-family: "Inter";
    color: #1c1b1b;
    font-size: 13px;
    overflow-y: scroll;
  }
}
