@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  body {
    font-family: "Montserrat";
    color: white;
    font-size: 13px;
    overflow-y: scroll;
    background-color: #1e1f23;

    .toastify {
      font-family: "Montserrat";
      font-size: 11px;
      letter-spacing: 0.2em;
      font-weight: 500;
      text-align: center;
    }
  }
}
