@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box !important;
  padding: 0;
  margin: 0;

  body {
    font-family: "Montserrat";
    color: #1c1b1b;
    font-size: 13px;
    overflow-y: scroll;
  }
}
