header {
  width: 100%;
  padding: 62px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;

  span {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.2em;
  }

  .search {
    position: absolute;
    right: 1%;
    transform: translate(-50%, -50%);

    .searchBar {
      padding: 11px 14px;
      border: 1px solid rgba($color: white, $alpha: 0.1);
      transition: border-color 0.1s ease-in-out;
      font-family: "Montserrat";
      letter-spacing: 1px;
      font-size: 12px;
      background-color: #1e1f23;
      color: white;

      &::placeholder {
        color: rgba($color: white, $alpha: 0.7);
        font-family: "Montserrat";
        letter-spacing: 1px;
        font-size: 11px;
      }

      &:focus {
        outline: none;
        border: 1px solid rgba($color: white, $alpha: 0.7);
      }
    }

    .searchIcon {
      color: rgba($color: white, $alpha: 0.7);
      margin-left: 15px;
      font-size: 15px;
      background-color: transparent;
      border: none;

      &:hover {
        color: white;
        cursor: pointer;
      }
    }
  }
}
