@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.categorySlider {
  margin: 120px 200px 0 200px;
  padding: 60px 0;
  border: 1px solid #dddddd;
  text-align: center;

  .nextBtn,
  .prevBtn {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    color: #e5b14a;
    background-color: #241414;
    cursor: pointer;
  }

  .prevBtn {
    left: -20px;
  }

  .nextBtn {
    right: -20px;
  }
}
