@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.categorySlider {
  margin: 120px 200px 0 200px;
  padding: 60px 25px;
  border: 1px solid #dddddd;

  .slider {
    width: 100%;
    text-align: center;

    .categoryCard {
      display: inline-block;
      padding-left: 30px;
      padding-right: 30px;
      margin-bottom: 60px;
      font-size: 12px;
      letter-spacing: 0.2em;
      font-weight: 600;

      .image {
        width: 250px;
        height: 250px;
        display: flex;
        position: relative;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          overflow: hidden;
        }

        .img1 {
          z-index: 1;
        }
      }

      .name {
        display: block;
        margin-top: 20px;
        margin-bottom: 4px;
        color: rgba($color: black, $alpha: 0.9);
      }
    }
  }
}
