@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.categorySlider {
  margin: 120px 150px 0 150px;
  padding: 70px 30px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  text-align: center;
  position: relative;

  .legend {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 15px;
    letter-spacing: 0.2em;
    font-weight: 500;
    background-color: #1e1f23;
    padding: 0 20px;
  }

  .nextBtn,
  .prevBtn {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    color: #e5b14a;
    background-color: #241414;
    cursor: pointer;
    z-index: 1;
  }

  .prevBtn {
    left: -53px;
  }

  .nextBtn {
    right: -53px;
  }

  .card {
    position: relative;

    .img {
      padding: 0 30px;
      width: 100%;
      height: 500px;
      object-fit: cover;
    }

    .viewBtn {
      display: block;
      position: absolute;
      left: 50%;
      top: 88%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 12px;
      font-weight: 500;
      width: 70%;
      padding: 13px 26px;
      border: 1px solid transparent;
      border-color: white;
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.2) 50%,
        transparent 50%
      );
      background-size: 200%;
      background-position: 0 50%;
      letter-spacing: 0.2em;
      transition: background-position 0.6s ease;
      font-family: "Montserrat";

      &:hover {
        background-position: -100% 50%;
        cursor: pointer;
      }
    }
  }
}
